@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 10px;
  box-sizing: border-box;
}

.logo {
  display: none;
}

.container,
.reviews,
.footer {
  width: 100%;
  height: auto;
  padding: 0 calc((100vw - 1140px) / 2);
  background: #faf4f2;
}

.advantages__title,
.portfolio__title,
.plans__title,
.reviews__title,
.blog__title {
  font-size: 4.8em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25em; /* 125% */
}

/*******************  header  ************/
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  padding-top: 100px;
}

.header__info {
  padding: 11px 0 0 32px;
}

.header__info-hi {
  display: none;
  color: #222;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.header__info-title {
  color: #222;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55em;
}

.header__info-description {
  margin: 7px 0 50px 0;
  color: #222;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67em;
}

.header__info-icons {
  margin-bottom: 25px;
}

.header__button {
  all: unset;
  box-sizing: border-box;
  width: 151px;
  height: 55px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.request {
  margin: 0 30px 0 0;
  background: #ff2950;
  color: #f9f9f9;
}

.cv {
  border: 2px solid #ff9b70;
  color: rgba(34, 34, 34, 0.5);
}

.header__photo {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.header__photo img {
  width: 406px;
  height: 406px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.2);
}

/*******************  section-project  ************/

.project {
  display: grid;
  grid-template-columns: 430px 570px;
  column-gap: 32px;
  height: 519px;
  margin-top: 125px;
  padding: 62px 76px 63px 32px;
  border-radius: 35px;
  background: #ff7315;
}

.project__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project__content h2:nth-child(1) {
  color: #f9f9f9;
  font-size: 7.2em;
  font-weight: 600;
  line-height: 0.86em;
}

.project__content p:nth-child(2) {
  margin-top: 16px;
  color: #f9f9f9;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 1.5em;
}

.project__content h2:nth-child(3) {
  margin: 19px 0;
  color: #f9f9f9;
  font-size: 4.8em;
  font-weight: 600;
  line-height: 1.3em; /* 129.167% */
}

.project__content p:nth-child(4) {
  color: #f9f9f9;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 1.87em; /* 187.5% */
}

/*******************  section-advantages  ************/

.advantages {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4vw;
  row-gap: 100px;
  justify-content: center;
  padding-top: 125px;
  grid-template-areas:
    "title title title title"
    "item1 item2 item3 item4";
}

.advantages__title {
  grid-area: title;
  color: #222;
  text-align: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
}

.advantages__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 98px;
  background-color: rgba(34, 34, 34, 0.1);
  border-radius: 50%;
}

.advantages__item--1 {
  grid-area: item1;
}

.advantages__item--2 {
  grid-area: item2;
}

.advantages__item--3 {
  grid-area: item3;
}

.advantages__item--4 {
  grid-area: item4;
}

.advantages__item-title {
  margin: 51px 0 12px 0;
  color: #222;
  text-align: center;
  font-size: 2.4em;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
}

.advantages__item-text {
  color: rgba(34, 34, 34, 0.5);
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.67em; /* 166.667% */
}

/*******************  section-portfolio  ************/

.portfolio {
  padding-bottom: 125px;
}

.portfolio__title {
  margin-top: 125px;
  color: #222;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;

  width: max-content;
  margin: 63px auto 0 auto;
}

.gallery__item {
  width: 310px;
  height: 300px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*******************  section-reviews  ************/

.reviews {
  /*padding: 49px 150px 185px 150px;*/
  padding-top: 49px;
  padding-bottom: 185px;
  background: #ff7315;
}

.reviews h2 {
  color: #f9f9f9;
  text-align: center;
  font-size: 4.8em;
  font-weight: 600;
  line-height: 1.25em;
}

.reviews__content {
  display: flex;
  justify-content: space-between;
  margin-top: 111px;
  gap: 82px;
}

.reviews__content p {
  width: 100%;
  height: auto;
  padding: 24px 55px 15px 55px;
  border-radius: 30px;
  background: #f9f9f9;
  color: #222;
  font-size: 2.4em;
  font-weight: 400;
  line-height: normal;
}

/*******************  section-plans  ************/
.plans {
  padding-top: 124px;
}

.plans__title {
  text-align: center;
  margin-bottom: 62px;
  color: #222;
  text-transform: capitalize;
}

.plans__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 67px;
}

.plan {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.1);
}

.plan__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  border-radius: 15px 15px 0 0;
  background: #ff9b70;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.plan__header h3 {
  color: #f9f9f9;
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1.3em;
  text-transform: capitalize;
}

.plan__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0 0 0;
  gap: 13px;
}

.plan__price h4 {
  color: #2b2b2b;
  font-size: 3.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.23em;
  text-transform: capitalize;
  text-align: center;
}

.plan__price p {
  margin: 8px 0 0 0;
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  opacity: 0.5;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 23px 0 0 48px;
}

.plan__feature {
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.active {
  color: #222;
}

.active::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icon-check.svg");
  width: 25px;
  height: 24px;
  margin: 0 16px -6px 0;
}

.not-active {
  opacity: 0.5;
}

.not-active::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icon-close.svg");
  width: 25px;
  height: 24px;
  margin: 0 16px -6px 0;
}

/************* email-me *********/

.email-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 140px;
  width: 1110px;
  height: 224px;
  margin: 100px auto 129px auto;
  border-radius: 25px;
  background: #ff7315;
}

.email-me__title {
  margin: 3px 0 0 75px;
  color: #f9f9f9;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.72em; /* 172.222% */
}

.email-me__button {
  width: 259px;
  height: 70px;
  margin: 0 0 0 26px;
  border: none;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
  cursor: pointer;

  color: #222;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*************************** section blog ***************/

.blog {
  padding-bottom: 125px;
}

.blog__title {
  color: #222;
  margin: 0 0 45px 0;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.blog__content-item {
  width: 100%;
  height: 364px;
  padding: 15px;
  border-radius: 15px;
  background: #f9f9f9;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
}

.blog__content-item-image {
  width: 100%;
  height: 166px;
  border-radius: 15px;
  object-fit: cover;
}

.blog__content-item-title {
  margin: 27px 0 13px 0;
  color: #222;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23em;
  text-transform: capitalize;
}

.blog__content-item-text {
  color: rgba(34, 34, 34, 0.5);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 500;
  line-height: 2em;
  text-transform: capitalize;
}

/*************** footer ****************/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  background: #f1f1f1;
}

.footer__text {
  color: #222;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
